header{
    height: 200px;
    background-color: #D5FEFF;

}

main{
    height:850px;
    background-color: #9CC2E7;
}

aside{
    height: 850px;
    background-color:#789FE4;
}

aside section{
background-color:#789FE4;
    height: auto;
}
 
main section{
    background-color:#9CC2E7;
    height: auto;
    
}

#Img{
    height: 250px;
    width: 250px;
}



footer{
    height: auto;
    background-color: #D5FEFF;
}

h6{
    text-align: center;
}